.floor-btn {
    -fx-border-color: #042E58;
    -fx-border-width: 5px;
    -fx-border-radius: 100;
    -fx-background-color: #042E58;
    -fx-background-radius: 100;
}

.green-floor-btn {
    -fx-border-color: GREEN;
    -fx-border-width: 5px;
    -fx-border-radius: 100;
    -fx-background-color: #042E58;
    -fx-background-radius: 100;
}

.grey-floor-btn {
    -fx-border-color: #606060;
    -fx-border-width: 5px;
    -fx-border-radius: 100;
    -fx-background-color: #042E58;
    -fx-background-radius: 100;
}

.red-floor-btn {
    -fx-border-color: RED;
    -fx-border-width: 5px;
    -fx-border-radius: 100;
    -fx-background-color: #042E58;
    -fx-background-radius: 100;
}